<?xml version="1.0" encoding="UTF-8" ?>
<ruleset xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" name="PHP_CodeSniffer">
    <description>Detecting coding standards violations</description>
    <file>src</file>
    <file>tests</file>
    <arg name="basepath" value="."/>
    <arg name="colors"/>
    <arg name="parallel" value="75"/>
    <arg value="sp"/>
    <rule ref="PSR12"/>
</ruleset>